.create-todo {
  padding: 6px;
}

.create-todo input,
.create-todo textarea {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.create-todo__input {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.create-todo__date {
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 3px;
}

.create-todo__file-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}

.create-todo__file {
  display: block;
}

.create-todo__file::-webkit-file-upload-button {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.create-todo__invalid {
  color: #e06666;
}

.create-todo input:focus,
.create-todo textarea:focus {
  outline-color: #33c2d8;
}

.create-todo__file-btn {
  margin: 6px 0;
  background-color: transparent;
  border: 1px solid #dddddd;
}

@media (max-width: 767px) {
  .create-todo__submit {
    margin: 0 auto;
  }
}
